
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });

        JSONAge = '@Html.Raw(Json.Serialize(ViewBag.Age))';
        console.log(JSONAge);
        var Age = [];
        Age.push(['Age', 'Number']);
        $.each(JSON.parse(JSONAge), function (index, val) {
            var arrAge = [];
            arrAge.push(val.end_Age);
            arrAge.push(val.count);
            Age.push(arrAge);
        });

        JSONMale = '@Html.Raw(Json.Serialize(ViewBag.Male))';
        console.log(JSONMale);
        var Male = [];
        Male.push(['Age', 'Number']);
        $.each(JSON.parse(JSONMale), function (index, val) {
            var arrMale = [];
            arrMale.push(val.end_Age);
            arrMale.push(val.count);
            Male.push(arrMale);
        });

        JSONFemale = '@Html.Raw(Json.Serialize(ViewBag.Female))';
        console.log(JSONFemale);
        var Female = [];
        Female.push(['Age', 'Number']);
        $.each(JSON.parse(JSONFemale), function (index, val) {
            var arrFemale = [];
            arrFemale.push(val.end_Age);
            arrFemale.push(val.count);
            Female.push(arrFemale);
        });

        google.charts.setOnLoadCallback(drawBar);

        function drawBar() {
            var data = google.visualization.arrayToDataTable(Age);

            var materialOptions = {
                chart: {
                    title: 'Number of students Excluded',
                },
                bars: 'horizontal',
                legend: { position: 'none' },
                colors: ['#DD4477'],

            };
            var materialChart = new google.charts.Bar(document.getElementById('Bar'));
            materialChart.draw(data, materialOptions);
        }

        google.charts.setOnLoadCallback(drawMale);
        function drawMale() {
            var data = google.visualization.arrayToDataTable(Male);
            var options = {
                title: ' Percentage of Male Students Excluded at Different Ages',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechartMale'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawFemale);
        function drawFemale() {
            var data = google.visualization.arrayToDataTable(Female);
            var options = {
                title: ' Percentage of Female Students Excluded at Different Ages',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechartFemale'));
            chart.draw(data, options);
        }



    </script>
</head>
<body>
    <h4>Students between age @ViewBag.MyString</h4><br />

    <div id="Bar" style="width: 1000px; height: 500px;border: 1px solid #ccc"></div><br />
    <br />
    <table class="columns">
        <tr>
            <td><div id="piechartMale" style="width: 500px; height: 300px;border: 1px solid #ccc"></div></td>
            <td><div id="piechartFemale" style="width: 500px; height: 300px;border: 1px solid #ccc"></div></td>
        </tr>
    </table>
    <hr class="my-4" /><br />
    <button class="btn btn-dark" type="button" onclick="location.href='@Url.Action("Landing", "Queries")'">Return</button>
</body>
</html> 