
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });

        JSONExcluded = '@Html.Raw(Json.Serialize(ViewBag.Excluded))';
        console.log(JSONExcluded);
        var Excluded = [];
        Excluded.push(['Year', 'Number']);
        $.each(JSON.parse(JSONExcluded), function (index, val) {
            var arrExcluded = [];
            arrExcluded.push(val.reg_End);
            arrExcluded.push(val.count);
            Excluded.push(arrExcluded);
        });

        JSONQualified = '@Html.Raw(Json.Serialize(ViewBag.Qualified))';
        console.log(JSONQualified);
        var Qualified = [];
        Qualified.push(['Year', 'Number']);
        $.each(JSON.parse(JSONQualified), function (index, val) {
            var arrQualified = [];
            arrQualified.push(val.reg_End);
            arrQualified.push(val.count);
            Qualified.push(arrQualified);
        });

        JSONProceed = '@Html.Raw(Json.Serialize(ViewBag.Proceed))';
        console.log(JSONProceed);
        var Proceed = [];
        Proceed.push(['Year', 'Number']);
        $.each(JSON.parse(JSONProceed), function (index, val) {
            var arrProceed = [];
            arrProceed.push(val.reg_End);
            arrProceed.push(val.count);
            Proceed.push(arrProceed);
        });

        JSONNotCategorised = '@Html.Raw(Json.Serialize(ViewBag.NotCategorised))';
        console.log(JSONNotCategorised);
        var NotCategorised = [];
        NotCategorised.push(['Year', 'Number']);
        $.each(JSON.parse(JSONNotCategorised), function (index, val) {
            var arrNotCategorised = [];
            arrNotCategorised.push(val.reg_End);
            arrNotCategorised.push(val.count);
            NotCategorised.push(arrNotCategorised);
        });

        console.log();

        google.charts.setOnLoadCallback(drawExcluded);
        function drawExcluded() {
            var data = google.visualization.arrayToDataTable(Excluded);
            var materialOptions = {
                chart: {
                    title: 'Excluded',
                },
                legend: { position: 'none' },
                colors: ['#DC3912'], 
            };
            var materialChart = new google.charts.Bar(document.getElementById('barExcluded'));
            materialChart.draw(data, materialOptions);
        }
        google.charts.setOnLoadCallback(drawQualified);
        function drawQualified() {
            var data = google.visualization.arrayToDataTable(Qualified);
            var materialOptions = {
                chart: {
                    title: 'Qualified',
                },
                legend: { position: 'none' },
                colors: ['#109618'], 
            };
            var materialChart = new google.charts.Bar(document.getElementById('barQualified'));
            materialChart.draw(data, materialOptions);
        }
        google.charts.setOnLoadCallback(drawProceed);
        function drawProceed() {
            var data = google.visualization.arrayToDataTable(Proceed);
            var materialOptions = {
                chart: {
                    title: 'Proceed',
                },
                legend: { position: 'none' },
                colors: ['#3366CC'], 
            };
            var materialChart = new google.charts.Bar(document.getElementById('barProceed'));
            materialChart.draw(data, materialOptions);
        }

            google.charts.setOnLoadCallback(drawNotCategorised);
            function drawNotCategorised() {
                var data = google.visualization.arrayToDataTable(NotCategorised);
                var materialOptions = {
                    chart: {
                        title: 'Not Categorised',
                    },
                    legend: { position: 'none' },
                    colors: ['#FF9900'],

                };
                var materialChart = new google.charts.Bar(document.getElementById('barNotCategorised'));
                materialChart.draw(data, materialOptions);
            }
        function goBack() {
            document.location = 'https://localhost:5001/Queries/Landing';
        }


    </script>
</head>
<body>
    <h3>FILTERS</h3><br />
    @if (ViewBag.Prov != null)
    {
        if (ViewBag.Prov == "EC")
        {
            <h4>PROVINCE: Eastern Cape</h4>
        }
        else if (ViewBag.Prov == "FS")
        {
            <h4>PROVINCE: Free State</h4>
        }
        else if (ViewBag.Prov == "GA")
        {
            <h4>PROVINCE: Gauteng</h4>
        }
        else if (ViewBag.Prov == "KZ")
        {
            <h4>PROVINCE: KwaZulu-Natal</h4>
        }
        else if (ViewBag.Prov == "LP")
        {
            <h4>PROVINCE: Limpopo</h4>
        }
        else if (ViewBag.Prov == "MP")
        {
            <h4>PROVINCE: Mpumalanga</h4>
        }
        else if (ViewBag.Prov == "NC")
        {
            <h4>PROVINCE: Northern Cap</h4>
        }
        else if (ViewBag.Prov == "NW")
        {
            <h4>PROVINCE: North West</h4>
        }
        else
        {
            <h4>PROVINCE: Western Cape</h4>
        }
    }
    @if (ViewBag.Gender != null)
    {
        if (ViewBag.Prov == "M")
        {
            <h4>GENDER: Male</h4>
        }
        else
        {
            <h4>GENDER: Female</h4>
        }
    }
    @if (ViewBag.Race != null)
    {
        <h4>RACE: @ViewBag.Race</h4>
    }
    @if (ViewBag.Age != null)
    {
        <h4>AGE RANGE: @ViewBag.Age</h4>
    }
    <hr class="my-4" />
    <table class="columns">
        <tr>
            @if (ViewBag.Excluded != null)
            {
                <td><div id="barExcluded" style="width: 500px; height: 500px;border: 1px solid #ccc"></div></td>
            }
            else
            {
                <td><div style="width: 500px; height: 500px;border: 1px solid #ccc">Hello</div></td>
            }
                <td><div id="barQualified" style="width: 500px; height: 500px;border: 1px solid #ccc"></div></td>
        </tr>
    </table>
    <table class="columns">
        <tr>
            <td><div id="barProceed" style="width: 500px; height: 500px;border: 1px solid #ccc"></div></td>
            <td><div id="barNotCategorised" style="width: 500px; height: 500px;border: 1px solid #ccc"></div></td>
        </tr>
    </table>
    <hr class="my-4" />
    <input type='button' class="btn btn-dark" onClick='goBack()' value='Return' />
</body>
</html> 
