<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Index</title>

</head>
<body>

    <h3> Student List</h3>
    <table>
        >
        <tr>

            <th>Student_Num</th>
            <th>Race</th>
            <th>Language</th>
            <th>Gender</th>
            <th>Country</th>
        </tr>
        @foreach (var General in ViewBag.General)
        {
            <tr>
                <td>@General.Student_Num</td>
                <td>@General.Race</td>
                <td>@General.Language</td>
                <td>@General.Gender</td>
                <td>@General.Home_Country</td>
            </tr>
        }


    </table>

</body>




</html>


