
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });

        //Read data from ViewBag into array
        JSONExcluded = '@Html.Raw(Json.Serialize(ViewBag.Excluded))';
        console.log(JSONExcluded);
        var Excluded = [];
        Excluded.push(['Year', 'Number']);
        $.each(JSON.parse(JSONExcluded), function (index, val) {
            var arrExcluded = [];
            arrExcluded.push(val.reg_End);
            arrExcluded.push(val.count);
            Excluded.push(arrExcluded);
        });

        JSONQualified = '@Html.Raw(Json.Serialize(ViewBag.Qualified))';
        console.log(JSONQualified);
        var Qualified = [];
        Qualified.push(['Year', 'Number']);
        $.each(JSON.parse(JSONQualified), function (index, val) {
            var arrQualified = [];
            arrQualified.push(val.reg_End);
            arrQualified.push(val.count);
            Qualified.push(arrQualified);
        });

        JSONProceed = '@Html.Raw(Json.Serialize(ViewBag.Proceed))';
        console.log(JSONProceed);
        var Proceed = [];
        Proceed.push(['Year', 'Number']);
        $.each(JSON.parse(JSONProceed), function (index, val) {
            var arrProceed = [];
            arrProceed.push(val.reg_End);
            arrProceed.push(val.count);
            Proceed.push(arrProceed);
        });

        JSONNotCategorised = '@Html.Raw(Json.Serialize(ViewBag.NotCategorised))';
        console.log(JSONNotCategorised);
        var NotCategorised = [];
        NotCategorised.push(['Year', 'Number']);
        $.each(JSON.parse(JSONNotCategorised), function (index, val) {
            var arrNotCategorised = [];
            arrNotCategorised.push(val.reg_End);
            arrNotCategorised.push(val.count);
            NotCategorised.push(arrNotCategorised);
        });

        console.log();

        //Draw Google chart
        google.charts.setOnLoadCallback(drawExcluded);
        function drawExcluded() {
            var data = google.visualization.arrayToDataTable(Excluded);
            var materialOptions = {
                legend: { position: 'none' },
                colors: ['#DC3912'],
            };
            var materialChart = new google.charts.Bar(document.getElementById('barExcluded'));
            materialChart.draw(data, materialOptions);
        }

        google.charts.setOnLoadCallback(drawQualified);
        function drawQualified() {
            var data = google.visualization.arrayToDataTable(Qualified);
            var materialOptions = {
                legend: { position: 'none' },
                colors: ['#109618'],
            };
            var materialChart = new google.charts.Bar(document.getElementById('barQualified'));
            materialChart.draw(data, materialOptions);
        }

        google.charts.setOnLoadCallback(drawProceed);
        function drawProceed() {
            var data = google.visualization.arrayToDataTable(Proceed);
            var materialOptions = {
                legend: { position: 'none' },
                colors: ['#3366CC'],
            };
            var materialChart = new google.charts.Bar(document.getElementById('barProceed'));
            materialChart.draw(data, materialOptions);
        }

        google.charts.setOnLoadCallback(drawNotCategorised);
        function drawNotCategorised() {
            var data = google.visualization.arrayToDataTable(NotCategorised);
            var materialOptions = {
                legend: { position: 'none' },
                colors: ['#FF9900'],
            };
            var materialChart = new google.charts.Bar(document.getElementById('barNotCategorised'));
            materialChart.draw(data, materialOptions);
        }
    </script>
</head>
<body>
    <h4>Selected Filter Attributes:</h4><br />
    @if (ViewBag.Prov != null)
    {
        if (ViewBag.Prov == "EC")
        {
            <h5>PROVINCE: Eastern Cape</h5>
        }
        else if (ViewBag.Prov == "FS")
        {
            <h5>PROVINCE: Free State</h5>
        }
        else if (ViewBag.Prov == "GA")
        {
            <h5>PROVINCE: Gauteng</h5>
        }
        else if (ViewBag.Prov == "KZ")
        {
            <h5>PROVINCE: KwaZulu-Natal</h5>
        }
        else if (ViewBag.Prov == "LP")
        {
            <h5>PROVINCE: Limpopo</h5>
        }
        else if (ViewBag.Prov == "MP")
        {
            <h5>PROVINCE: Mpumalanga</h5>
        }
        else if (ViewBag.Prov == "NC")
        {
            <h5>PROVINCE: Northern Cap</h5>
        }
        else if (ViewBag.Prov == "NW")
        {
            <h5>PROVINCE: North West</h5>
        }
        else
        {
            <h5>PROVINCE: Western Cape</h5>
        }
    }
    @if (ViewBag.Gender != null)
    {
        if (ViewBag.Prov == "M")
        {
            <h5>GENDER: Male</h5>
        }
        else
        {
            <h5>GENDER: Female</h5>
        }
    }
    @if (ViewBag.Race != null)
    {
        <h5>RACE: @ViewBag.Race</h5>
    }
    @if (ViewBag.Age != null)
    {
        <h5>AGE RANGE: @ViewBag.Age</h5>
    }
    <hr class="my-4" />

    @if (ViewBag.Excluded.Count == 0 & ViewBag.Qualified.Count == 0 & ViewBag.Proceed.Count == 0 & ViewBag.NotCategorised.Count == 0)
    {
        <table class="columns">
            <tr>
                <td>
                    <h5 style="color:white;">.</h5>
                    <div class="alert alert-dismissible alert-danger" style="width: 1100px; text-align: center; padding: 125px 0; height: 300px;border: 1px solid #DC3912">
                        <p class="lead" style="color:#DC3912;">
                        NO DATA FOR SELECTED FILTER ATTRIBUTES
                        <br />
                        <a href="@Url.Action("Landing", "Queries")" class="alert-link">Try a new selection</a></p>
                    </div>
                </td>
            </tr>
        </table>
    }
    else
    {
        <table class="columns">
            <tr>
                <td>
                    @if (ViewBag.Excluded.Count == 0)
                    {
                        <h5 style="color:white;">.</h5>
                        <div class="alert alert-dismissible alert-danger" style="width: 550px; text-align: center; padding: 230px 0; height: 500px;border: 1px solid #DC3912"><p class="lead" style="color:#DC3912;">NO DATA FOR EXCLUDED STUDENTS</p></div>
                    }
                    else
                    {
                        <h5>EXCLUDED</h5>
                        <div id="barExcluded" style="width: 550px; height: 500px;"></div>
                    }
                </td>
                <td>
                    @if (ViewBag.Qualified.Count == 0)
                    {
                        <h5 style="color:white;">.</h5>
                        <div class="alert alert-dismissible alert-danger" style="width: 550px; text-align: center; padding: 230px 0; height: 500px;border: 1px solid #DC3912"><p class="lead" style="color:#DC3912;">NO DATA FOR QUALIFIED STUDENTS</p></div>
                    }
                    else
                    {
                        <h5>QUALIFIED</h5>
                        <div id="barQualified" style="width: 550px; height: 500px;"></div>
                    }
                </td>
            </tr>
        </table>
        <br />
        <table class="columns">
            <tr>
                <td>
                    @if (ViewBag.Proceed.Count == 0)
                    {
                        <h5 style="color:white;">.</h5>
                        <div class="alert alert-dismissible alert-danger" style="width: 550px; text-align: center; padding: 230px 0; height: 500px;border: 1px solid #DC3912"><p class="lead" style="color:#DC3912;">NO DATA FOR PROCEED STUDENTS</p></div>
                    }
                    else
                    {
                        <h5>PROCEED</h5>
                        <div id="barProceed" style="width: 550px; height: 500px;"></div>
                    }
                </td>
                <td>
                    @if (ViewBag.NotCategorised.Count == 0)
                    {
                        <h5 style="color:white;">.</h5>
                        <div class="alert alert-dismissible alert-danger" style="width: 550px; text-align: center; padding: 230px 0; height: 500px;border: 1px solid #DC3912"><p class="lead" style="color:#DC3912;">NO DATA FOR NOT CATEGORISED STUDENTS</p></div>
                    }
                    else
                    {
                        <h5>NOT CATEGORISED</h5>
                        <div id="barNotCategorised" style="width: 550px; height: 500px;"></div>
                    }
                </td>

            </tr>
        </table>
    }
        <hr class="my-4" /><br />
        <button class="btn btn-dark" type="button" onclick="location.href='@Url.Action("Landing", "Queries")'">Return</button>
    </body>
</html> 
