@{
    ViewData["Title"] = "Graphs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });

        //Read data from ViewBag into array
        JSONgroup2008 = '@Html.Raw(Json.Serialize(ViewBag.year08))';
        console.log(JSONgroup2008);
        var out08 = [];
        out08.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONgroup2008), function (index, val) {
            var arrgroup2008 = [];
            arrgroup2008.push(val.outcome);
            arrgroup2008.push(val.count);
            out08.push(arrgroup2008);
        });

        JSONgroup2009 = '@Html.Raw(Json.Serialize(ViewBag.year09))';
        console.log(JSONgroup2009);
        var out09 = [];
        out09.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONgroup2009), function (index, val) {
            var arrgroup2009 = [];
            arrgroup2009.push(val.outcome);
            arrgroup2009.push(val.count);
            out09.push(arrgroup2009);
        });

        JSONgroup2010 = '@Html.Raw(Json.Serialize(ViewBag.year10))';
        console.log(JSONgroup2010);
        var out10 = [];
        out10.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONgroup2010), function (index, val) {
            var arrgroup2010 = [];
            arrgroup2010.push(val.outcome);
            arrgroup2010.push(val.count);
            out10.push(arrgroup2010);
        });

        JSONgroup2011 = '@Html.Raw(Json.Serialize(ViewBag.year11))';
        console.log(JSONgroup2011);
        var out11 = [];
        out11.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONgroup2011), function (index, val) {
            var arrgroup2011 = [];
            arrgroup2011.push(val.outcome);
            arrgroup2011.push(val.count);
            out11.push(arrgroup2011);
        });

        JSONgroup2012 = '@Html.Raw(Json.Serialize(ViewBag.year12))';
        console.log(JSONgroup2012);
        var out12 = [];
        out12.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONgroup2012), function (index, val) {
            var arrgroup2012 = [];
            arrgroup2012.push(val.outcome);
            arrgroup2012.push(val.count);
            out12.push(arrgroup2012);
        });

        JSONgroup2013 = '@Html.Raw(Json.Serialize(ViewBag.year13))';
        console.log(JSONgroup2013);
        var out13 = [];
        out13.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONgroup2013), function (index, val) {
            var arrgroup2013 = [];
            arrgroup2013.push(val.outcome);
            arrgroup2013.push(val.count);
            out13.push(arrgroup2013);
        });

        JSONgroup2014 = '@Html.Raw(Json.Serialize(ViewBag.year14))';
        console.log(JSONgroup2014);
        var out14 = [];
        out14.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONgroup2014), function (index, val) {
            var arrgroup2014 = [];
            arrgroup2014.push(val.outcome);
            arrgroup2014.push(val.count);
           out14.push(arrgroup2014);
        });

        JSONgroup2015 = '@Html.Raw(Json.Serialize(ViewBag.year15))';
        console.log(JSONgroup2015);
        var out15 = [];
        out15.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONgroup2015), function (index, val) {
            var arrgroup2015 = [];
            arrgroup2015.push(val.outcome);
            arrgroup2015.push(val.count);
            out15.push(arrgroup2015);
        });

        JSONgroup2016 = '@Html.Raw(Json.Serialize(ViewBag.year16))';
        console.log(JSONgroup2016);
        var out16 = [];
        out16.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONgroup2016), function (index, val) {
            var arrgroup2016 = [];
            arrgroup2016.push(val.outcome);
            arrgroup2016.push(val.count);
            out16.push(arrgroup2016);
        });

        JSONgroup2017 = '@Html.Raw(Json.Serialize(ViewBag.year17))';
        console.log(JSONgroup2017);
        var out17 = [];
        out17.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONgroup2017), function (index, val) {
            var arrgroup2017 = [];
            arrgroup2017.push(val.outcome);
            arrgroup2017.push(val.count);
            out17.push(arrgroup2017);
        });

        JSONgroup2018 = '@Html.Raw(Json.Serialize(ViewBag.year18))';
        console.log(JSONgroup2018);
        var out18 = [];
        out18.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONgroup2018), function (index, val) {
            var arrgroup2018 = [];
            arrgroup2018.push(val.outcome);
            arrgroup2018.push(val.count);
            out18.push(arrgroup2018);
        });

        console.log();

        //Draw Google chart
        google.charts.setOnLoadCallback(drawReg);
        function drawReg() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Number of Registrations'],
                ['2008', 1953],
                ['2009', 1044],
                ['2010', 1089],
                ['2011', 1112],
                ['2012', 1067],
                ['2013', 1193],
                ['2014', 1152],
                ['2015', 1307],
                ['2016', 1480],
                ['2017', 1388],
                ['2018', 1541]
            ]);
            var options = {
                chart: {
                    title: '',
                    subtitle: '',
                },
                bars: 'vertical',
                colors: ['#0099C6'],
                legend: { position: 'none' },
            };
            var chart = new google.charts.Bar(document.getElementById('barchart_reg'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
        }

        google.charts.setOnLoadCallback(drawgroup2008);
        function drawgroup2008() {
            var data = google.visualization.arrayToDataTable(out08);
            var options = {
                title: '2008',
                is3D: true,
                colors: ['#DC3912', '#FF9900', '#3366CC', '#109618'],
                chartArea: {
                    top: "18%",
                    height: "75%",
                    width: "75%"
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart2008'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawgroup2009);
        function drawgroup2009() {
            var data = google.visualization.arrayToDataTable(out09);
            var options = {
                title: '2009',
                is3D: true,
                colors: ['#DC3912', '#FF9900', '#3366CC', '#109618'],
                chartArea: {
                    top: "18%",
                    height: "75%",
                    width: "75%"
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart2009'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawgroup2010);
        function drawgroup2010() {
            var data = google.visualization.arrayToDataTable(out10);
            var options = {
                title: '2010',
                is3D: true,
                colors: ['#DC3912', '#FF9900', '#3366CC', '#109618'],
                chartArea: {
                    top: "18%",
                    height: "75%",
                    width: "75%"
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart2010'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawgroup2011);
        function drawgroup2011() {
            var data = google.visualization.arrayToDataTable(out11);
            var options = {
                title: '2011',
                is3D: true,
                colors: ['#DC3912', '#FF9900', '#3366CC', '#109618'],
                chartArea: {
                    top: "18%",
                    height: "75%",
                    width: "75%"
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart2011'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawgroup2012);
        function drawgroup2012() {
            var data = google.visualization.arrayToDataTable(out12);
            var options = {
                title: '2012',
                is3D: true,
                colors: ['#DC3912', '#FF9900', '#3366CC', '#109618'],
                chartArea: {
                    top: "18%",
                    height: "75%",
                    width: "75%"
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart2012'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawgroup2013);
        function drawgroup2013() {
            var data = google.visualization.arrayToDataTable(out13);
            var options = {
                title: '2013',
                is3D: true,
                colors: ['#DC3912', '#FF9900', '#3366CC', '#109618'],
                chartArea: {
                    top: "18%",
                    height: "75%",
                    width: "75%"
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart2013'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawgroup2014);
        function drawgroup2014() {
            var data = google.visualization.arrayToDataTable(out14);
            var options = {
                title: '2014',
                is3D: true,
                colors: ['#DC3912', '#FF9900', '#3366CC', '#109618'],
                chartArea: {
                    top: "18%",
                    height: "75%",
                    width: "75%"
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart2014'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawgroup2015);
        function drawgroup2015() {
            var data = google.visualization.arrayToDataTable(out15);
            var options = {
                title: '2015',
                is3D: true,
                colors: ['#DC3912', '#FF9900', '#3366CC', '#109618'],
                chartArea: {
                    top: "18%",
                    height: "75%",
                    width: "75%"
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart2015'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawgroup2016);
        function drawgroup2016() {
            var data = google.visualization.arrayToDataTable(out16);
            var options = {
                title: '2016',
                is3D: true,
                colors: ['#DC3912', '#FF9900', '#3366CC', '#109618'],
                chartArea: {
                    top: "18%",
                    height: "75%",
                    width: "75%"
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart2016'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawgroup2017);
        function drawgroup2017() {
            var data = google.visualization.arrayToDataTable(out17);
            var options = {
                title: '2017',
                is3D: true,
                colors: ['#DC3912', '#FF9900', '#3366CC', '#109618'],
                chartArea: {
                    top: "18%",
                    height: "75%",
                    width: "75%"
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart2017'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawgroup2018);
        function drawgroup2018() {
            var data = google.visualization.arrayToDataTable(out18);
            var options = {
                title: '2018',
                is3D: true,
                colors: ['#DC3912', '#FF9900', '#3366CC', '#109618'],
                chartArea: {
                    top: "18%",
                    left: "28%",
                    height: "75%",
                    width: "75%"
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart2018'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawMale);
        function drawMale() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Excluded', 'Proceed', 'Qualified', 'Not Categorised', { role: 'annotation' }],
                ['2008', 113, 33, 0, 31, ''],
                ['2009', 198, 34, 0, 41, ''],
                ['2010', 196, 30, 107, 45, ''],
                ['2011', 238, 41, 113, 50, ''],
                ['2012', 244, 50, 129, 33, ''],
                ['2013', 268, 69, 155, 37, ''],
                ['2014', 274, 86, 174, 26, ''],
                ['2015', 230, 61, 203, 27, ''],
                ['2016', 358, 70, 244, 48, ''],
                ['2017', 293, 34, 276, 113, ''],
                ['2018', 1024, 659, 599, 406, '']
            ]);
            var materialOptions = {
                bars: 'vertical',
                colors: ['#DC3912', '#3366CC', '#109618', '#FF9900'],
            };
            var materialChart = new google.charts.Bar(document.getElementById('barMale'));
            materialChart.draw(data, materialOptions);
        }

        google.charts.setOnLoadCallback(drawFemale);
        function drawFemale() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Excluded', 'Proceed', 'Qualified', 'Not Categorised', { role: 'annotation' }],
                ['2008', 90, 26, 0, 17, ''],
                ['2009', 172, 40, 0, 43, ''],
                ['2010', 149, 42, 141, 43, ''],
                ['2011', 180, 59, 161, 44, ''],
                ['2012', 173, 38, 176, 30, ''],
                ['2013', 212, 35, 61, 223, ''],
                ['2014', 196, 71, 56, 240, ''],
                ['2015', 152, 45, 53, 240, ''],
                ['2016', 206, 51, 71, 310, ''],
                ['2017', 200, 28, 79, 313, ''],
                ['2018', 770, 646, 660, 403, '']
            ]);
            var materialOptions = {
                bars: 'vertical',
                colors: ['#DC3912', '#3366CC', '#109618', '#FF9900'],
            };
            var materialChart = new google.charts.Bar(document.getElementById('barFemale'));
            materialChart.draw(data, materialOptions);
        }

        google.charts.setOnLoadCallback(drawBar);
        function drawBar() {
            var data = google.visualization.arrayToDataTable([
                ['Age', 'Male', 'Female', { role: 'annotation' }],
                ['5', 1, 0, ''],
                ['16', 4, 1, ''],
                ['17', 11, 12, ''],
                ['18', 263, 342,''],
                ['19', 1255, 1271, ''],
                ['20', 770, 681, ''],
                ['21', 565, 509, ''],
                ['22', 512, 430,''],
                ['23', 484, 468, ''],
                ['24', 472, 486, ''],
                ['25', 452, 435,'']
            ]);
            var materialOptions = {
                chart: {
                    title: 'Categorised by Male & Female for Ages 5 to 25',
                },
                colors: ['#1b9e77', '#7570b3'],
                bars: 'vertical',
            };
            var materialChart = new google.charts.Bar(document.getElementById('age'));
            materialChart.draw(data, materialOptions);
        }
    </script>
</head>
<body>
    <h3>General Queries For Research</h3>
    <hr class="my-4" />
    <div>
        <p>Below you will find general graphs that will assist with your research</p>
    </div>
    <hr class="my-4" />
    <h5>Number of Registrations Per Year</h5><br />
    <div  id="barchart_reg" style="width: 1100px; height: 500px;"></div>
    <hr class="my-4" />

    <h5>Progression Outcomes Per Year</h5><br />
    <table class="columns">
        <tr>
            <td><div id="piechart2008" style="width: 550px; height: 300px;border: 1px solid #ccc"></div></td>
            <td><div id="piechart2009" style="width: 550px; height: 300px;border: 1px solid #ccc"></div></td>
        </tr>
    </table>
    <table class="columns">
        <tr>
            <td><div id="piechart2010" style="width: 550px; height: 300px;border: 1px solid #ccc"></div></td>
            <td><div id="piechart2011" style="width: 550px; height: 300px;border: 1px solid #ccc"></div></td>
        </tr>
    </table>
    <table class="columns">
        <tr>
            <td><div id="piechart2012" style="width: 550px; height: 300px;border: 1px solid #ccc"></div></td>
            <td><div id="piechart2013" style="width: 550px; height: 300px;border: 1px solid #ccc"></div></td>
        </tr>
    </table>
    <table class="columns">
        <tr>
            <td><div id="piechart2014" style="width: 550px; height: 300px;border: 1px solid #ccc"></div></td>
            <td><div id="piechart2015" style="width: 550px; height: 300px;border: 1px solid #ccc"></div></td>
        </tr>
    </table>
    <table class="columns">
        <tr>
            <td><div id="piechart2016" style="width: 550px; height: 300px;border: 1px solid #ccc"></div></td>
            <td><div id="piechart2017" style="width: 550px; height: 300px;border: 1px solid #ccc"></div></td>
        </tr>
    </table>
    <div id="piechart2018" style="width: 1100px; height: 300px;border: 1px solid #ccc"></div>
    <hr class="my-4" />

    <h5>Progression Outcomes for Males</h5><br />
    <div id="barMale" style="width: 1100px; height: 500px;"></div>
    <hr class="my-4" />

    <h5>Progression Outcomes for Females</h5><br />
    <div id="barFemale" style="width: 1100px; height: 500px;"></div>
    <hr class="my-4" />

    <h5>Starting Age of Students</h5>
    <div id="age" style="width: 1100px; height: 500px;"></div>
</body>
</html>
